@model Cart;


<div class="main-cart-wrapper">
    <div class="row g-5" style="margin-top: 0px;">
        <div class="col-xl-9">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Товар</th>
                            <th>Цена</th>
                            <th>Количество</th>
                            <th>Сумма</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CartItem item in Model.Items)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex gap-5 align-items-center">
                                        <div class="remove-icon" onclick="removeFromCart(@item.Product.Id)">
                                            <img src="~/img/icon/icon-9.svg" alt="img">
                                        </div>
                                        <span class="cart">
                                            <img src="~/img/Books/@item.Product.Photo" alt="img" class="photoIcon">
                                        </span>
                                        <span class="cart-title">
                                            @item.Product.Name
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <span class="cart-price">@item.Product.Price Р</span>
                                </td>
                                <td>
                                    <span class="quantity-basket">
                                        <span class="qty">
                                            <button class="qtyminus" aria-hidden="true" onclick="reduceItem(@item.Product.Id)">−</button>
                                            <input type="number" name="qty" id="qty2-@item.Product.Id" onchange="ChangeValue(@item.Product.Id)" min="1" max="10" step="1"
                                            value="@item.Count">
                                            <button class="qtyplus" aria-hidden="true" onclick="AddToCart(@item.Product.Id)">+</button>
                                        </span>
                                    </span>
                                </td>
                                <td>
                                    <span class="subtotal-price">@item.Summ Р</span>
                                </td>
                            </tr>
                        }                       
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="table-responsive cart-total">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Итог корзины</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="d-flex gap-5 align-items-center justify-content-between">
                                    <span class="sub-title">Сумма:</span>
                                    <span class="sub-price">@Model.Summ Р</span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="d-flex gap-5 align-items-center  justify-content-between">
                                    <span class="sub-title">Позиций:</span>
                                    <span class="sub-price sub-price-total">@Model.Count</span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="theme-btn" onlick="startOrder()">Оформить</button>
            </div>
        </div>
    </div>
</div>
