@model List<Product>;

@foreach (Product item in Model)
{
    <div class="col-xl-3 col-lg-4 col-md-6 wow" data-wow-delay=".4s">
        <div class="shop-box-items">
            <div class="book-thumb center">
                <a href="@Url.Action("Details", "Home", new { id = item.Id })"><img src="~/img/Books/@item.Photo" alt="img"></a>
            </div>
            <div class="shop-content">
                <h3><a href="@Url.Action("Details", "Home", new { id = item.Id })">@item.Name</a></h3>
                <ul class="price-list">
                    <li>Цена: @item.Price Р</li>
                </ul>
                <div class="shop-button">
                    <a href="#" onclick="AddToCartInShop('@item.Id')" class="theme-btn">
                        <i class="fa-solid fa-basket-shopping"></i> Добавить в корзину
                    </a>
                </div>
            </div>
        </div>
    </div>
}